body {
    margin: 0;
    background-color: black;
}

header{
    background-color: black;
    text-align: center;
    padding: 100px;
}


.Mainbody{
    display: flex;
   
}

.mainbodytext{
    background-color: black;
    text-align: center;
    margin: 215px auto;

}

.mainbodymeat{
    color: white;
    text-align: center;
    font-size: 21px;
}

footer{
    background-color: #373737;
    margin: 0px 0px 0px 0px;
}

h1 {
    font-size: 48px;
    color: white;
}

h2{
    font-size: 36px;
    color: white;
}
h3{
    text-align: center;
    font-size: 28px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

    
}

.columns {
    display: flex;
   

}

.column {
    
    margin: 2px
    
}

.boxtext{
    color: Black;
    text-align: center;
    font-size: 21px;

}

